<footer class="page-footer">
    <div class="footer-sections">
        <div class="footer-section">
            &copy; {{ "now" | date: "%Y" }}.
            Allt material på sidan tillhör Björn Alm.
        </div>
        <div class="footer-section">
            <img src="https://api.netlify.com/api/v1/badges/c3e70746-313b-4c9b-8bcf-19d7fa966f4a/deploy-status" alt="Netlify Status" />
        </div>
    </div>
</footer>
