<footer class="page-footer">
    <div class="footer-sections">
        <div class="footer-section left">
            &copy; {{ "now" | date: "%Y" }}. Allt material på sidan tillhör Björn Alm.
        </div>
        <div class="footer-section right">
            Allt material på sidan tillhör Björn Alm.
        </div>
    </div>
</footer>
