<section class="hero">
    <div id="hero-logo-wrapper" class="hero-logo-wrapper">
        <img src="/assets/img/logotype.svg" alt="Björn Alm" class="hero-logo">
        <h2 class="hero-subheader">Photo Journal</h2>
    </div>
</section>
