---
layout: default
---

{% include minihero.liquid %}

{% if site.site_open and page.page_open != false  %}
    <div class="page-content">
        <section class="page-section">
            <div class="slice">
                <h2 class="section-header">{{ page.title }}</h2>
                {{ content }}
                {% include page-gallery.liquid %}
            </div>
        </section>
    </div>
{% endif %}
